html {
  font-size: 62.5%;
}

body {
  font-family: 'YuGothic';
  line-height: 1.6;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

*::before, *::after {
  box-sizing: border-box;
}

.button--primary {
  display: block;
  width: 200px;
  padding: 10px 0;
  background-color: #004FEC;
  border-radius: 4px;
  text-align: center;
  font-size: 1.6rem;
  color: #FFFFFF;
}

.header {
  padding: 20px 20px 0;
}

.header__logo {
  width: 190px;
}

@media (min-width: 768px) {
  .header {
    padding: 40px 10%;
  }
}

.top {
  position: relative;
  height: 250px;
  padding: 0 20px;
  margin-top: 20px;
  background: url(../img/top.png) no-repeat;
  background-size: cover;
}

.message {
  position: absolute;
  top: 30%;
}

.top__message {
  display: block;
  font-size: 1.8rem;
  background-color: #FFFFFF;
}

.top__message + .top__message {
  margin-top: 8px;
}

.top__message__second {
  width: 56%;
}

.top__message__third {
  width: 89%;
}

.top__message__fourth {
  width: 56%;
}

@media (min-width: 768px) {
  .top {
    height: 70vh;
  }
  .message {
    top: 30%;
    left: 10%;
  }
  .top__message {
    font-size: 4rem;
  }
  .top__message + .top__message {
    margin-top: 16px;
  }
}

.work {
  padding: 0 20px;
  margin-top: 72px;
}

.work__en__title {
  font-size: 1.2rem;
  color: #004FEC;
}

.work__ja__title {
  margin-left: -6px;
  font-size: 2.2rem;
  font-weight: 100;
  color: #333333;
}

.work__text {
  margin-top: 32px;
  font-size: 1.4rem;
  line-height: 1.8;
  letter-spacing: 1.6px;
}

.work__img {
  width: 100%;
  margin-top: 24px;
}

.work__button {
  margin: 32px auto;
}

@media (min-width: 768px) {
  .work {
    width: 1200px;
    margin: 180px auto 0;
  }
  .work__contents {
    display: flex;
  }
}

.flow {
  padding: 0 20px;
  margin-top: 72px;
  text-align: left;
}

.flow__en__title {
  font-size: 1.2rem;
  color: #004FEC;
}

.flow__ja__title {
  margin-left: -6px;
  font-size: 2.2rem;
  font-weight: 100;
  color: #333333;
}

.flow__list {
  margin-top: 32px;
}

.flow__list li {
  padding: 24px;
  border: 2px solid #ECECF2;
  border-radius: 4px;
  background-color: #F7F7F7;
}

.flow__list li + li {
  margin-top: 20px;
}

.flow__list__en__title {
  font-size: 1.2rem;
  letter-spacing: 1.6px;
}

.flow__list h3 {
  font-size: 2rem;
  font-weight: 100;
  color: #004FEC;
}

.flow__list p {
  margin-top: 16px;
  font-size: 1.4rem;
  line-height: 1.8;
  letter-spacing: 1.6px;
}

@media (min-width: 768px) {
  .flow {
    width: 1200px;
    margin: 180px auto 0;
  }
  .flow__en__title {
    font-size: 2rem;
  }
  .flow__ja__title {
    margin-left: -6px;
    font-size: 3rem;
  }
  .flow__list {
    display: flex;
    margin-top: 64px;
  }
  .flow__list li {
    width: 20%;
  }
  .flow__list li + li {
    margin-top: 0;
    margin-left: 2%;
  }
  .flow__list__en__title {
    letter-spacing: 1.6px;
  }
  .flow__list h3 {
    font-size: 2.4rem;
  }
}

.appeal {
  width: 100%;
  margin-top: 72px;
  padding: 40px 0;
  background-color: #F7F7F7;
  text-align: center;
}

.appeal h2 {
  font-size: 2.2rem;
  font-weight: 100;
  color: #004DE6;
}

.appeal img {
  width: 220px;
  margin-top: 40px;
}

.appeal__button {
  margin: 56px auto 0;
}

.footer {
  padding: 30px 20px 20px;
  background-color: #333D51;
}

.footer__list + .footer__list {
  margin-top: 24px;
}

.footer__list h2 {
  font-size: 1.4rem;
  font-weight: 100;
  color: #FFFFFF;
}

.footer__list ul {
  margin-top: 8px;
}

.footer__list li + li {
  margin-top: 8px;
}

.footer__list a {
  color: #BBBBBE;
}

.copyright {
  margin-top: 32px;
  text-align: center;
}

.copyright small {
  color: #FFFFFF;
}

@media (min-width: 768px) {
  .footer {
    padding: 40px 0px 20px;
  }
  .footer__list {
    width: 1200px;
    margin: 0 auto;
  }
}
