<footer class="footer">
  <div class="footer__list">
    <h2>PROEXについて</h2>
    <ul>
      <li>
        <a href="https://form.run/@proec-ask" target="_blank">お問い合わせ</a>
      </li>
      <li>
        <a href="https://form.run/@proec-kaizen" target="_blank">カイゼン目安箱</a>
      </li>
      <li>
        <a routerLink="/privacypolicy">プライバシーポリシー</a>
      </li>
    </ul>
  </div>
  <div class="footer__list">
    <h2>運営者</h2>
    <ul>
      <li><a href="https://twitter.com/kankichidaze" target="_blank">@kanki.son</a></li>
      <li><a href="https://twitter.com/rindarinda5" target="_blank">@yuya.hayashida</a></li>
      <li><a href="https://www.facebook.com/profile.php?id=100010900062603" target="_blank">@yoha.oishi</a></li>
    </ul>
  </div>
  <p class="copyright">
    <small>© 2019 PROEC All Rights Reserved.</small>
  </p>
</footer>
