.campaign {
  padding: 4px 0;
  background: #2856FC;
  color: #FFFFFF;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
}

.header {
  display: block;
  padding: 16px 20px;
  border-bottom: 1px solid #ECECF2;
}

.logo {
  color: #2856FC;
}

@media (min-width: 768px) {
  :host {
    //max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    //padding: 20px 40px;
  }

  .campaign {
    min-width: 1064px;
  }

  .logo {
    font-size: 2.4rem;
  }

}
