<app-header></app-header>
<main>
  <article class="profile">
    <h2 class="title">プロフィール</h2>
    <ng-container *ngIf="trainerDetail$ | async as trainerDetail;">
      <div class="trainer__contents">
        <section class="profile__trainer">
          <img src={{trainerDetail.imagePath}} alt="トレーナー画像" class="profile__trainer__img">
        </section>
        <div class="columns">
          <section class="trainer__name">
            <h3 class="trainer__name__ja">{{ trainerDetail.trainerName }}</h3>
            <p class="trainer__name__en">{{ trainerDetail.trainerNameEn }}</p>
          </section>
          <section class="profile__column">
            <h3>自己紹介</h3>
            <p>{{ trainerDetail.introduction }}</p>
          </section>
          <section class="profile__column">
            <h3>所属ジム</h3>
            <p>{{ trainerDetail.belonging }}</p>
          </section>
          <section class="profile__column">
            <h3>アクセス</h3>
            <p>{{ trainerDetail.access }}</p>
          </section>
          <section class="profile__column">
            <h3>料金</h3>
            <p>{{ trainerDetail.fee }}</p>
          </section>
          <section class="profile__column">
            <h3>なぜトレーナーを目指したのか</h3>
            <p>{{ trainerDetail.reason }}</p>
          </section>
          <section class="profile__column">
            <h3>お客様のどのような悩みを解決することが得意か</h3>
            <p>{{ trainerDetail.salesPoint }}</p>
          </section>
          <section class="profile__column">
            <h3>趣味</h3>
            <p>{{ trainerDetail.hobby }}</p>
          </section>
          <section class="profile__column">
            <h3>さいごにひとこと</h3>
            <p>{{ trainerDetail.comment }}</p>
          </section>
        </div>
      </div>
    </ng-container>
    <div class="apply">
      <a href="#" class="apply-button">この人の話を聞いてみたい</a>
    </div>
  </article>
</main>
<!-- <app-footer></app-footer> -->

<!-- クローラーが見に来た時だけ静的なHTMLを返す処理をサーバーサイドにやってもらう -->
