<app-header></app-header>
<main>
  <article class="profile">
    <ng-container *ngIf="trainerDetail$ | async as trainerDetail; else loadingOrError">
      <section class="profile__trainer">
        <img src={{trainerDetail.imagePath}} alt="トレーナー画像" class="profile__trainer__img">
      </section>
      <section class="trainer__name">
        <h2 class="trainer__name__ja">{{ trainerDetail.trainerName }}</h2>
        <p class="trainer__name__en">{{ trainerDetail.trainerNameEn }}</p>
      </section>
      <ng-container *ngIf="trainerDetail.introduction !== 'null'">
        <section class="profile__column">
          <h3>自己紹介</h3>
          <p>{{ trainerDetail.introduction }}</p>
        </section>
      </ng-container>
      <section class="profile__column">
        <h3>所属ジム</h3>
        <p>{{ trainerDetail.belonging }}</p>
      </section>
      <section class="profile__column">
        <h3>アクセス</h3>
        <p>{{ trainerDetail.access }}</p>
      </section>
      <section class="profile__column">
        <h3>料金（税別）</h3>
        <h4 class="profile__fee_title">体験</h4>
        <p class="profile__fee">10000円</p>
        <h4 class="profile__fee_title">入会</h4>
        <p class="profile__fee">10000円</p>
        <h4 class="profile__fee_title">コース</h4>
        <p class="profile__fee">{{ trainerDetail.fee }}</p>
      </section>
      <ng-container *ngIf="trainerDetail.reason !== 'null'">
        <section class="profile__column">
          <h3>なぜトレーナーを目指したのか</h3>
          <p>{{ trainerDetail.reason }}</p>
        </section>
      </ng-container>
      <ng-container *ngIf="trainerDetail.salesPoint !== 'null'">
        <section class="profile__column">
          <h3>得意分野は何か</h3>
          <p>{{ trainerDetail.salesPoint }}</p>
        </section>
      </ng-container>
      <ng-container *ngIf="trainerDetail.hobby !== 'null'">
        <section class="profile__column">
          <h3>趣味</h3>
          <p>{{ trainerDetail.hobby }}</p>
        </section>
      </ng-container>
      <ng-container *ngIf="trainerDetail.comment !== 'null'">
        <section class="profile__column">
          <h3>さいごにひとこと</h3>
          <p>{{ trainerDetail.comment }}</p>
        </section>
      </ng-container>
    </ng-container>

    <ng-template #loadingOrError>
      <div class="loader">
        <img src="assets/img/spinner.gif" alt="読み込み中">
      </div>
    </ng-template>
    <div class="apply">
      <a href="https://form.run/@proec-request" target="_blank" class="apply-button">この人の話を聞いてみたい</a>
    </div>
  </article>
</main>
