// emで描いてみる(Bを抜いたもの)


:host {
  display: block;
  padding-bottom: 160px;
}

.profile {
  margin-top: 32px;
}

.title {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}

.trainer__contents {
  position: relative;
  margin: 32px 20px 0;
}


.profile__trainer {
  //position: relative;
  //margin-top: 32px;

  &__img {
    width: 100%;
    //height: 300px;
    object-fit: cover;
    vertical-align: bottom;
  }

  &:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
    opacity: 0.25;
    background: linear-gradient(-160deg, #eef2f3, #536976);
  }
}

.columns {
  position: absolute;
  top: 90%;
  z-index: 5;
  margin: 0 20px;
  background-color: #FFFFFF;
}

.trainer__name {
  margin-top: 32px;
  padding: 0 10px;
  text-align: center;
}

.trainer__name__ja {
  font-size: 2rem;
  font-weight: bold;
}

.trainer__name__en {
  margin-top: -4px;
  font-size: 1.2rem;
  font-weight: 600;
    color: #7F7F7F;
  letter-spacing: 0.4px;
}

.profile__column {
  margin: 64px auto;

  h3 {
    font-size: 2rem;
  }

  p {
    margin-top: 16px;
    font-size: 1.6rem;
  }

  & + .profile__column {
    margin-top: 48px;
  }

  &:last-child {
    margin-bottom: 160px;
  }
}

.apply {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  border-top: 1px solid #ECECF2;
  padding: 20px;
  background-color: #FFFFFF;

  a {
    display: block;
    padding: 10px;
    background-color: #2755FE;
    border-radius: 4px;
    text-align: center;
    font-size: 1.6rem;
    color: #FFFFFF;
  }
}

@media (min-width: 768px) {
  .profile {
    max-width: 720px;
    margin: 64px auto 0;
  }

  .trainer__contents {
    margin-top: 48px;
  }

  .profile__trainer__img {
    vertical-align: bottom;
  }

  .profile__column {
    max-width: 720px;
    margin: 72px auto 0;
  }

  .apply-button {
    width: 300px;
    margin: 0 auto;
  }
}
