.container {
  padding: 0 20px;
  margin-top: 32px;
  font-size: 1.4rem;

  h2 {
    font-size: 2rem;
    text-align: center;
  }

  p {
    margin-top: 20px;
  }
}

.privacy__list__item {
  margin-top: 32px;

  & + .privacy__list__item {
    margin-top: 32px;
  }
}

.privacy__text {
  list-style-type: decimal;
  margin-left: 20px;
}

.privacy__detail {
  list-style-type: upper-roman;
  margin-left: 30px;

  &__item {
    list-style-type: katakana;
    margin-left: 40px;
  }
}

.privacy__creation__date {
  margin-top: 40px;
  text-align: right;
}

@media (min-width: 768px) {
  .container {
    width: 1024px;
    margin: 64px auto 0;
  }
}
