<app-header></app-header>
<main>
  <section>
    <app-trainer-search-condition></app-trainer-search-condition>
  </section>
  <section class="container">
    <ng-container *ngIf="trainers$ | async as trainers; else loadingOrError">
      <ul class="list">
        <ng-container *ngFor="let trainer of trainers.trainers">
          <li class="list__item">
            <a routerLink="/trainers/detail/{{trainer.trainerId}}">
              <div class="list__item__img">
                <img src={{trainer.imagePath}} alt="">
              </div>
              <div class="list__item__info">
                <h2 class="list__item__info__area">{{ trainer.area }}</h2>
                <h3 class="list__item__info__name">{{ trainer.trainerName }}</h3>
              </div>
            </a>
          </li>
        </ng-container>
      </ul>
    </ng-container>

    <ng-template #loadingOrError>
      <div class="loader">
        <img src="assets/img/spinner.gif" alt="読み込み中">
      </div>
    </ng-template>
  </section>
</main>
<app-footer></app-footer>
