<app-header></app-header>
<main>
  <section class="container">
    <h2 class="title">パーソナルトレーナーを探す</h2>
    <ul class="list">
      <ng-container *ngFor="let trainer of trainers.trainers">
        <li class="list__item">
          <a routerLink="/trainers/detail/{{trainer.trainerId}}">
            <div class="list__item__img">
              <img src="assets/img/face.jpg">
            </div>
            <div class="list__item__info">
              <p class="list__item__info__fee">{{ trainer.area }}</p>
              <h3 class="list__item__info__name">{{ trainer.trainerName }}</h3>
            </div>
          </a>
        </li>
      </ng-container>
    </ul>
  </section>
</main>
<app-footer></app-footer>
