.container {
  padding: 32px 20px;
}

.search-condition {
  display: flex;
  border-bottom: 1px solid #ECECF2;
  padding: 16px;

  & > * + * {
    margin-left: 12px;
  }
}

h2 {
  font-size: 20px;
}

.title {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 32px;

  &__item {
    display: inline-block;
    width: calc((100% - 12px) / 2);
    padding: 16px;
    background: #F7F7F7;
    border: 2px solid #ECECF2;
    box-sizing: border-box;
    border-radius: 4px;

    &:nth-child(n+3) {
      margin-top: 12px;
    }
  }

  &__item__top {
    display: flex;

    & > * + * {
      margin-left: 12px;
    }

    &__img {
      img {
        width: 80px;
        height: 80px;
        border-radius: 100%;
        object-fit: cover;
      }
    }

    &__info {
      display: flex;
      flex-direction: column;
      justify-content: center;

      & > * + * {
        margin-top: 4px;
      }

      &__area {
        width: fit-content;
        padding: 4px 8px;
        font-size: 1.6rem;
        font-weight: bold;
        color: #FFF;
        background-color: #2757FC;
        border-radius: 4px;
        text-align: center;
      }

      &__name {
        font-size: 1.8rem;
        color: #333;
      }
    }
  }

  &__item__tag {
    display: flex;
    flex-wrap: wrap;
    margin: -8px -4px 0;
    margin-top: 6px;

    li {
      padding: 2px 8px;
      border: 1px solid #2757FC;
      box-sizing: border-box;
      border-radius: 4px;
      color: #2757FC;
      font-size: 1.6rem;
      font-weight: bold;
      margin: 8px 4px 0;
    }
  }
}


.loader {
  position: absolute;
  top: 28px;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5);

  > img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 60px;
    height: auto;
    margin: auto;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 1024px;
    margin: auto;
  }

  // space-betweenで両端にアイテムが配置されるのを解消するため
  .list {

    &::after {
      content: "";
      display: block;
      width: 31.8%;
    }
  }

  .list__item {
    width: calc((100% - 24px) / 3);

    &:nth-child(n+3) {
      margin-top: 0;
    }

    &:nth-child(n+4) {
      margin-top: 12px;
    }
  }

  .list__item__img {
    img {
    }
  }

  .list__item__info__name {
  }
}

.dummy {
  display: inline-block;
  padding: 4px 8px;
  font-size: 1.6rem;
  font-weight: bold;
  color: #333;
  border: 1px solid #aaa;
  border-radius: 4px;
}

@media screen and (max-width: 480px) {

  .list {
    & > li + li {
      margin-top: 12px;
    }

    &__item {
      width: 100%;
    }
  }
}
