a {
  display: inline-block;
  padding: 4px 8px;
  font-size: 1.6rem;
  color: #333;
  border: 1px solid #aaa;
  border-radius: 4px;

  &:hover {
    color: #FFF;
    background-color: #2757FC;
    border: 1px solid #2757FC;
  }
}

ul {
  width: auto;
  border-radius: 0 0 8px 8px;
  box-shadow: 0 10px 29px 0 rgba(0,0,0,.28);
  position: static;

  li {  
    padding: 16px;
    font-size: 1.6rem;
    font-weight: bold;

    input[type=checkbox] {
      display: none;

      & ~ label {
        border: 1px solid #333;
        border-radius: 10px;

        &::after {
          content: '';
          border-bottom: 4px solid #333;
          border-right: 8px solid #333;
        }
      }
    }

    &:not(:first-child) {
      display: flex;
      justify-content: space-between;
    }

    &:first-child {
      position: relative;
      text-align: center;

      a {
        position: absolute;
        right: 16px;
      }
    }

    &:not(:last-child) {
      border-bottom: 1px solid #ECECF2;
    }

    &:last-child {
      justify-content: flex-end;

      * + * {
        margin-left: 12px;
      }
    }
  }
}