:host {
  position: relative;
}

a {
  display: inline-block;
  padding: 4px 8px;
  font-size: 1.6rem;
  font-weight: bold;
  color: #333;
  border: 1px solid #aaa;
  border-radius: 4px;

  &:hover {
    color: #FFF;
    background-color: #2757FC;
    border: 1px solid #2757FC;
  }

  &.is-selected {
    color: #FFF;
    background-color: #2757FC;
    border: 1px solid #2757FC;

    &:hover {
      opacity: 0.6;
    }
  }
}

ul {
  position: absolute;
  left: 0;
  top: calc(100% + 16px);
  width: 380px;
  z-index: 100;
  background-color: #FFF;
  border-radius: 0 0 8px 8px;
  box-shadow: 0 10px 29px 0 rgba(0,0,0,.28);

  li {  
    padding: 16px;
    font-size: 1.6rem;
    font-weight: bold;

    input[type=checkbox] {
      display: none;

      & + label {
        position: relative;
        cursor: pointer;

        &:hover {
          opacity: 0.6;
        }

        &::before {
          content: '';
          position: absolute;
          right: 10px;
          top: 6px;
          display: inline-block;
          width: 10px;
          height: 15px;
          border-bottom: 2px solid #333;
          border-right: 2px solid #333;
          transform: rotate(45deg);
          transition: all 0.3s ease-in-out;
          z-index: 100;
        }
        &::after {
          content: '';
          position: absolute;
          right: 0;
          display: inline-block;
          width: 30px;
          height: 30px;
          border: 2px solid #333;
          border-radius: 100%;
          transition: all 0.3s ease-in-out;
        }
      }

      &:checked + label {
        &::before {
          border-bottom: 4px solid #FFF;
          border-right: 4px solid #FFF;
        }

        &::after {
          background-color: #2757FC;
          border-color: #2757FC;
        }

      }
    }

    &:not(:first-child) {
      display: flex;
      justify-content: space-between;
    }

    &:first-child {
      position: relative;
      text-align: center;

      a {
        position: absolute;
        right: 16px;
      }
    }

    &:not(:last-child) {
      border-bottom: 1px solid #ECECF2;
    }

    &:last-child {
      justify-content: flex-end;

      * + * {
        margin-left: 12px;
      }
    }
  }
}