:host {
  position: relative;
}

a {
  display: inline-block;
  padding: 4px 8px;
  font-size: 1.6rem;
  font-weight: bold;
  color: #333;
  border: 1px solid #aaa;
  border-radius: 4px;

  &:hover {
    color: #FFF;
    background-color: #2757FC;
    border: 1px solid #2757FC;
  }

  &.is-selected, &.primary {
    color: #FFF;
    background-color: #2757FC;
    border: 1px solid #2757FC;

    &:hover {
      opacity: 0.6;
    }
  }

  &.close {
    border: none;

    &:hover {
      color: #333;
      background-color: #FFF;
    }
  }
}

.filter {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  max-height: 80vh;
  z-index: 100;
  background-color: #FFF;
  border-radius: 0 0 8px 8px;
  box-shadow: 0 10px 29px 0 rgba(0,0,0,.28);

  &-title {
    position: relative;
    text-align: center;
    padding: 16px;
    font-size: 1.6rem;
    font-weight: bold;
    border-bottom: 1px solid #ECECF2;

    a {
      position: absolute;
      right: 16px;
    }
  }

  ul {
    max-height: calc(80vh - 122px);
    overflow: scroll;

    li {
      display: flex;
      justify-content: space-between;
      padding: 16px;
      font-size: 1.6rem;
      font-weight: bold;
      border-bottom: 1px solid #ECECF2;
    }
  }
  
  &-controls {
    display: flex;
    justify-content: flex-end;
    padding: 16px;
  
    * + * {
      margin-left: 12px;
    }
  }
}

.background {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(17,17,17,.2);
  z-index: 99;
  pointer-events: none;
}

@media(min-width: 768px) {
  .background {
    display: none;
  }

  .filter {
    position: absolute;
    width: 380px;
    height: fit-content;
    max-height: fit-content;
    top: calc(100% + 16px);

    ul { 
      max-height: 100vh;
    }
  }
}
