<a
  href="javascript:void(0)"
  [class.is-selected]="selectItems.length"
  (click)="toggle()"
>
  {{label}}
  <ng-container *ngIf="hasMultipleSelect()">
    <span>+{{selectItems.length - 1}}</span>
  </ng-container>
</a>
<ng-container *ngIf="isOpen">
  <ul>
    <li class="title">
      <strong>{{defaultLabel}}で絞り込む</strong>
      <a href="javascript:void(0)" class="close" (click)="toggle()">✕</a>
    </li>
    <ng-container *ngFor="let choice of choices">
      <li>
        <strong>{{choice.name}}</strong>
        <app-checkbox (click)="check($event, choice)" [key]="choice.id"></app-checkbox>
      </li>
    </ng-container>
    <li>
      <a href="javascript:void(0)" (click)="clear()">クリア</a>
      <a href="javascript:void(0)" (click)="search()" class="primary">完了</a>
    </li>
  </ul>
</ng-container>
