input[type=checkbox] {
  display: none;

  & + label {
    position: relative;
    cursor: pointer;

    &:hover {
      opacity: 0.6;
    }

    &::before {
      content: '';
      position: absolute;
      right: 10px;
      top: 6px;
      display: inline-block;
      width: 10px;
      height: 15px;
      border-bottom: 2px solid #333;
      border-right: 2px solid #333;
      transform: rotate(45deg);
      transition: all 0.3s ease-in-out;
      z-index: 100;
    }
    &::after {
      content: '';
      position: absolute;
      right: 0;
      display: inline-block;
      width: 30px;
      height: 30px;
      border: 2px solid #333;
      border-radius: 100%;
      transition: all 0.3s ease-in-out;
    }
  }

  &:checked + label {
    &::before {
      border-bottom: 4px solid #FFF;
      border-right: 4px solid #FFF;
    }

    &::after {
      background-color: #2757FC;
      border-color: #2757FC;
    }

  }
}
