<app-header></app-header>
<main>
  <section class="top">
    <div class="top__img"></div>
    <div class="top__contents">
      <h2 class="top__contents__title">理想のパーソナルトレーナーを、<br>「プロエク」で見つけよう。</h2>
      <p class="top__contents__text">パーソナルジム探しに困ったことはありませんか？「プロエク」はトレーナーを軸に、あなたに合ったパーソナルトレーナーを検索できるサービスです。</p>
      <a routerLink="/trainers" class="button--primary top__button">検索する</a>
    </div>
  </section>
  <section class="search">
    <div class="wrapper">
      <div class="container">
        <h2 class="search__title">エリアで選ぶ</h2>
        <ul class="search__list">
          <ng-container *ngIf="areas$ | async as areas">
            <ng-container *ngFor="let area of areas">
              <li>
                <a href="javascript:void(0)" routerLink="/trainers" queryParams="{{{area: area.areaId}}}">{{area.areaName}}<span class="arrow"></span></a>
              </li>
            </ng-container>
          </ng-container>
          <li>
            <a href="javascript:void(0)" routerLink="/trainers" [queryParams]="{area: 1}">渋谷<span class="arrow"></span></a>
          </li> 
          <li>
            <a href="javascript:void(0)">恵比寿<span class="arrow"></span></a>
          </li>
          <li>
            <a href="javascript:void(0)">目黒<span class="arrow"></span></a>
          </li>
          <li>
            <a href="javascript:void(0)">中目黒<span class="arrow"></span></a>
          </li>
        </ul>
        <a href="javascript:void(0)" routerLink="/trainers" class="search__area-link">すべて見る
          <svg width="6" height="14" viewBox="0 0 8 16" fill="none" xmlns="http://www.w3.org/2000/svg" style="vertical-align: middle;">
            <path d="M5.54261 8.00001L0.55395 2.1799C0.22448 1.79552 0.268994 1.21682 0.653377 0.887355C1.03776 0.557884 1.61645 0.602399 1.94592 0.986781L7.44592 7.40345C7.74016 7.74673 7.74016 8.25328 7.44592 8.59656L1.94592 15.0132C1.61645 15.3976 1.03776 15.4421 0.653377 15.1127C0.268994 14.7832 0.22448 14.2045 0.55395 13.8201L5.54261 8.00001Z" fill="#2757FC"/>
          </svg>
        </a>
      </div>
      <div class="container">
        <h2 class="search__title">目的で選ぶ</h2>
        <ul class="search__list">
          <ng-container *ngIf="skilltags$ | async as skilltags">
            <ng-container *ngFor="let skilltag of skilltags">
              <li>
                <a href="javascript:void(0)" routerLink="/trainers" queryParams="{{{skilltag: skilltag.skilltagId}}}">{{skilltag.skilltagName}}<span class="arrow"></span></a>
              </li>
            </ng-container>
          </ng-container>
          <li>
            <a href="javascript:void(0)">ダイエット<span class="arrow"></span></a>
          </li>
          <li>
            <a href="javascript:void(0)">ボディメイク<span class="arrow"></span></a>
          </li>
          <li>
            <a href="javascript:void(0)">食事管理<span class="arrow"></span></a>
          </li>
          <li>
            <a href="javascript:void(0)">肩こり・腰痛改善<span class="arrow"></span></a>
          </li>
          <li>
            <a href="">運動機能改善<span class="arrow"></span></a>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <section class="flow">
    <h2 class="flow__ja__title">トレーニング開始までの流れ</h2>
    <ol class="flow__list">
      <li>
        <span class="flow__list__en__title">STEP1</span>
        <h3>選ぶ</h3>
        <p>あなたが話を聞いてみたいトレーナーを選びます。</p>
      </li>
      <li>
        <span class="flow__list__en__title">STEP2</span>
        <h3>話す</h3>
        <p>
          運営スタッフがトレーナーと日程調整をします。決定後、対面でトレーナーとプランの相談等を行います。
        </p>
      </li>
      <li>
        <span class="flow__list__en__title">STEP3</span>
        <h3>申し込む</h3>
        <p>
          各トレーナーの希望コースに申し込みます。お支払い方法は別途お伝えしますが、プロエク宛に振込をして頂きます。
        </p>
      </li>
      <li>
        <span class="flow__list__en__title">STEP4</span>
        <h3>開始する</h3>
        <p>
          トレーナーと二人三脚で、あなたの理想のカラダを実現させましょう。
        </p>
      </li>
    </ol>
  </section>
  <section class="appeal">
    <h2>パーソナルトレーナー<br />を検索しよう</h2>
    <img src="assets/img/trainer.svg" alt="パーソナルトレーニング">
    <a routerLink="/trainers" class="button--primary appeal__button">検索する</a>
  </section>
</main>
<app-footer></app-footer>
