.button--primary {
  display: block;
  padding: 10px 0;
  background-color: #2856FC;
  border-radius: 4px;
  text-align: center;
  font-size: 1.6rem;
  font-weight: bold;
  color: #FFFFFF;
}

@media (min-width: 768px) {
  .button--primary {
    width: 240px;
  }
}

// top
.top {
  &__contents {
    position: relative;
  }

  &__contents__img {
    width: 100%;
  }
}

.message {
  position: absolute;
  top: 20%;
  left: 5%;
  font-weight: bold;
}

.top__message {
  display: block;
  padding: 0 0 0 4px;
  font-size: 2rem;
  line-height: 1.6;
  background-color: #ffffff;

  &+& {
    margin-top: 6px;
  }
}

.top__message__second {
  width: 68%;
}

.top__message__third {
  width: 90%;
}

.top__message__fourth {
  width: 57%;
}

@media (max-width: 320px) {
  .message {
    bottom: 10%;
  }
}

@media (min-width: 768px) {
  .top {
    min-width: 1064px;

    &__contents {
      margin: 0 auto;
    }

    &__contents__img {
      width: 100%;
      max-height: 800px;
      height: 80vh;
      object-fit: cover;
      object-position: top;
    }
  }

  .message {
    top: 15%;
    left: 10%;
  }

  .top__message {
    font-size: 4rem;

    &+& {
      margin-top: 16px;
    }
  }
}

// work
.work {
  padding: 0 20px;
  margin-top: 100px;

  &__en__title {
    font-size: 1.4rem;
    font-weight: 500;
    color: #2856FC;
  }

  &__ja__title {
    margin: -4px 0 0 -4px;
    font-size: 2rem;
    font-weight: bold;
  }

  &__text {
    margin-top: 16px;
    font-size: 1.4rem;
    letter-spacing: 1.6px;
  }

  &__img {
    width: 100%;
    margin-top: 24px;
  }

  &__button {
    margin: 32px auto;
  }
}

@media (min-width: 768px) {
  .work {
    width: 1024px;
    margin: 180px auto 0;
  }

  .work__en__title {
    font-size: 2rem;
  }

  .work__ja__title {
    font-size: 3rem;
  }

  .work__text {
    margin-right: 24px;
  }

  .work__contents {
    display: flex;
  }

  .work__img {
    width: auto;
    height: 400px;
  }
}

// flow
.flow {
  padding: 0 20px;
  margin-top: 100px;
  text-align: left;

  &__en__title {
    font-size: 1.4rem;
    font-weight: 500;
    color: #2856FC;
  }

  &__ja__title {
    margin: -4px 0 0 -4px;
    font-size: 2rem;
    font-weight: bold;
  }
}

.flow__list {
  margin-top: 24px;

  li {
    padding: 24px;
    border: 2px solid #ececf2;
    border-radius: 4px;
    background-color: #f7f7f7;
  }

  li+li {
    margin-top: 20px;
  }

  &__en__title {
    font-size: 1.2rem;
    letter-spacing: 1.6px;
    font-weight: 500;
    color: #333333;
  }

  h3 {
    margin-top: -4px;
    font-size: 2rem;
    font-weight: bold;
    color: #2856FC;
  }

  p {
    margin-top: 16px;
    font-size: 1.4rem;
    letter-spacing: 1.6px;
  }
}

@media (min-width: 768px) {
  .flow {
    width: 1024px;
    margin: 180px auto 0;

    &__en__title {
      font-size: 2rem;
    }

    &__ja__title {
      margin-left: -6px;
      font-size: 3rem;
    }
  }

  .flow__list {
    display: flex;
    margin-top: 64px;

    li {
      width: calc((100% - 20px) / 4);
    }

    li+li {
      margin-top: 0;
      margin-left: 20px;
    }

    &__en__title {
      letter-spacing: 1.6px;
    }

    h3 {
      font-size: 2.4rem;
    }
  }
}

// contact
.appeal {
  width: 100%;
  margin-top: 100px;
  padding: 64px 0;
  background-color: #f7f7f7;
  text-align: center;

  h2 {
    font-size: 2.2rem;
    font-weight: bold;
    color: #2856FC;
  }

  img {
    width: 220px;
    margin-top: 40px;
  }

  &__button {
    margin: 56px 20px 0;
  }
}

@media (min-width: 768px) {
  .appeal {
    //min-width: 1024px;
    min-width: 1064px;
    margin-top: 180px;
    padding: 80px 0;

    h2 {
      font-size: 3rem;
    }

    &__button {
      margin: 56px auto;
    }
  }
}
