<app-header></app-header>
<main>
  <section class="top">
    <div class="top__contents">
      <h2 class="message">
        <span class="top__message">プロと一緒だから、</span><br>
        <span class="top__message">成果が出る。</span><br>
        <span class="top__message">成果が出るから、</span><br>
        <span class="top__message">たのしい。</span>
      </h2>
    </div>
  </section>
  <section class="work">
    <div class="work__contents">
      <div>
        <span class="work__en__title">TRAINER</span>
        <h2 class="work__ja__title">トレーナーを探す</h2>
        <p class="work__text">
          プロエクは、パーソナルトレーナー検索サービスです。個性が分かるので、あなたに合うパーソナルトレーナーを見つけることができます。
        </p>
      </div>
      <div class="work__img"></div>
    </div>
    <a routerLink="/trainers" class="button--primary work__button">検索する</a>
  </section>
  <section class="flow">
    <span class="flow__en__title">FLOW</span>
    <h2 class="flow__ja__title">トレーニング開始までの流れ</h2>
    <ol class="flow__list">
      <li>
        <span class="flow__list__en__title">STEP1</span>
        <h3>選ぶ</h3>
        <p>あなたが話を聞いてみたいトレーナーを選びます。</p>
      </li>
      <li>
        <span class="flow__list__en__title">STEP2</span>
        <h3>話す</h3>
        <p>
          運営スタッフがトレーナと日程調整をします。決定後、対面でトレーナーとプランの相談等を行います。
        </p>
      </li>
      <li>
        <span class="flow__list__en__title">STEP3</span>
        <h3>申し込む</h3>
        <p>
          各トレーナーの希望コースに申し込みます。お支払い方法は別途お伝えしますが、プロエク宛に振込をして頂きます。
        </p>
      </li>
      <li>
        <span class="flow__list__en__title">STEP4</span>
        <h3>開始する</h3>
        <p>
          トレーナーと二人三脚で、あなたの理想のカラダを実現させましょう。
        </p>
      </li>
    </ol>
  </section>
  <section class="appeal">
    <h2>パーソナルトレーナー<br />を検索しよう</h2>
    <img src="assets/img/trainer.svg" alt="パーソナルトレーニング">
    <a routerLink="/trainers" class="button--primary appeal__button">検索する</a>
  </section>
</main>
<app-footer></app-footer>
